body{
  margin:0;
  padding:0;
  font-family:"Roboto", "Arial", sans-serif;
  font-size:12px;
  color:#444;
}

.container{
  margin: 0 auto;
  width: 960px;
  height:700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible{
  display: none;
}

h2{
  font-size: 30px
}

h3{
  font-size:20px;
}

input[type="submit"]{
  width: 100px;
  height:25px;
  border-radius:3px;
  color: white;
  background: #258CE1;
  border: none;
  margin-left:250px;
  padding:3px;
  margin-right:10px
}

input[type="submit"]:hover{
  box-shadow:1px 1px 1px 1px #aaa;
}

.form5 input[type="submit"]:last-of-type{
  width:130px;
}

label{
  font-size: 18px;
}

input {
    margin-bottom:15px;
    padding: 12px;
    width: 90%;
    font-weight: bold;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    background: #f5f5f5;
    margin-right: auto;
